/* DOCUMENTO CSS */
body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Calibri', sans-serif;
	background-color: #ede9e4;
	color: #000000;
}
header {
	background-color: #A9A9A9;
	height: 180px;
	padding-top: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
header figure {
	width: 100px;
	height: 100px;
	background-color: #696969;
	margin: 0;
	padding: 0;
}
main {
	min-height: 900px;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	padding: 20px;
	flex-wrap: wrap;
	background-color: #C0C0C0;
}
.boxlivro{width: 470px;
	height: 440px;
	background-color: #DCDCDC;
	border-color: 10px;
	padding: 10px;
	margin: 10px 10px 10px 10px;
	display: flex;
}
.boxlivro:hover{
	box-shadow: 6px 6px 10px #a4a4a4;
}
.boxlivro h2{margin: 0 0 10px 0;
	padding: 0;
}
.boxlivro figure {width: 225px;
	height: 318px;
	background-color: #e6e6e6;
	margin: 0 20px 0 0;
	padding: 0;
	border: 1px solid black;
}
.boxlivro span {
	font-size: 30px;
	font-weight: 900;
	margin: 0 0 0 40px;
	padding: 0;
}
footer {
	background-color: #A9A9A9;
	height: 70px;
	padding-top: 10px;
	text-align: center;
	display: flex;
	justify-content: left;
}
footer figure {
	width: 50px;
	height: 50px;
	background-color: #696969;
	margin: 0 30px 0 50px;
	padding: 0;
}
footer p {
	font-weight: 800;
	font-size: 20px;
	margin: 10px 0 0 0;
}